.idr-ui-widget-overlay {
	position: fixed;
	top:0px;
	right: 0px;
	bottom:0px;
	left:0px;
	background:rgba(102, 102, 102, 0.75);
}

.idr-ui-widget-overlay .modal {
    width:40%;
    height:50%;
    margin: 0 auto;
    display: inline-block;
    border-radius: 5px;
    position: relative;
    top: 40%;
    left:50%;
    transform: translate(-50%, -50%);
}